<app-header></app-header>
<div class="page-body-wrapper">
    <app-sidebar></app-sidebar>
<div class="main-panel">
    <div class="content-wrapper">


      <div class="card">
        <!-- <div [hidden]="alert_show">
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>
              Item Deleted Successfully!!
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" (click)="close_alert()">&times;</span>
            </button>
          </div>
        </div>
        <div [hidden]="alert_show_for_addItem">
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <strong>
              Item Inserted Successfully !!
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" (click)="close_alert_add()">&times;</span>
            </button>
          </div>
        </div>
        <div [hidden]="alert_show_for_updateItem">
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <strong>
              Item Updated Successfully !!
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" (click)="close_alert_update()">&times;</span>
            </button>
          </div>
        </div> -->



        <div class="card-body">






          <div class="titleSec">
            <button class="btn btn-primary" type="button" (click)="go_to_AddItem()">Add</button>
            <h2>Client Type</h2>

            <!-- <div id="snackbar" class="text-danger pull-right">{{linkshareinterpolation}}</div> -->

            <!-- <span class="confirm-div" id="snackbar" style="float:right; color:green;">
              {{linkshareinterpolation}}
              </span> -->
          </div>
          



          <div class="row">

            <!-- <div class="alert  ml-5" role="alert" [hidden]="alert_show">
                Item Deleted Successfully!! &#x2714;
               <span class="closebtn span pl-5" (click)="close_alert()">&times;</span>
              </div> -->
            <div class="col-sm-12">



              <input id="getit" [hidden]="true" value="0">
              <div class="alert alert-success alert-dismissible fade in" style="text-align: center;" [hidden]="dlt">
                <!-- <div data-dismiss="alert" aria-label="close">&times;</div> -->
                Deletion Successful!! <a style="float:right;" data-dismiss="alert" aria-label="close">&times;</a>
              </div>
              <div class="alert alert-success alert-dismissible fade in" style="text-align: center;" [hidden]="updt">
                <!-- <div data-dismiss="alert" aria-label="close">&times;</div> -->
                Updation Successful!! <a style="float:right;" data-dismiss="alert" aria-label="close">&times;</a>
              </div>
              <div class="alert alert-success alert-dismissible fade in" style="text-align: center;" [hidden]="insrt">
                <!-- <a class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
                 Insertion Successful!! <a style="float:right;" data-dismiss="alert" aria-label="close">&times;</a>
              </div>
              
              <div class="row">
                <div class="col-md-9 "></div>
                <div class="col-md-3 pull-right">
                  <mat-form-field appearance="outline">
                    <mat-label>Search </mat-label>
                    <input matInput (keyup)="applyFilter($event)" class="pull-right" placeholder="Search Item " #input>
                  </mat-form-field>
                </div>
              </div>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>


                  <ng-container matColumnDef="Sl_No">
                    <th mat-header-cell *matHeaderCellDef>SL No. </th>
                    <td mat-cell *matCellDef="let row"> {{row.client_id}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Client_Type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="client_type"> Name </th>
                    <td mat-cell *matCellDef="let row">{{row.client_type}}</td>
                  </ng-container>


                  <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let row">
                        <a (click)="go_to_update(row.client_id,row.client_type)"
                        data-toggle="tooltip" data-placement="bottom" title="Edit" class="deletCus">
                        <i class="fa fa-edit menu-icon"></i>
                    </a>
                </td>
                  </ng-container>


                  <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>

                    <td mat-cell *matCellDef="let row"><a (click)="delete(row.client_id)" class="delete editeCus"

                        title="Delete"
                        data-toggle="modal" data-target="#ctmmodal"><i class="fa fa-trash-o menu-icon" 
                          style="color: #bd2130"></i></a></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data found "{{input.value}}"</td>
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50,100]" showFirstLastButtons></mat-paginator>
              </div>






            </div>






          </div>





        </div>






      </div>
    </div>
  </div>



</div>




<div class="modal fade in" id="ctmmodal" >
  <div class="modal-dialog modal-sm modal-dialog-centered">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center w-100 p-2">Warning!!</h4>
        <button type="button" class="close mr-2 mb-3" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p class="text-center p-4 h5"><strong>Are you sure you want to delete? </strong></p>
      </div>
      <div class="modal-footer p-3">
        <!-- <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>-->
        <button mat-raised-button data-dismiss="modal" class="color mr-2" (click)="delete_item()">Ok</button>

        <button mat-raised-button data-dismiss="modal"  class="color ">Cancel</button>
      </div>
    </div>
    
  </div>
</div>



<div id="snackbar"><i class="fa fa-times-circle" style="color:red"></i>&nbsp; Deletion failed.Please try again after some time</div>

<!-- 
 <div class="modal " id="myModal" role="dialog"> 
  <div class="modal-dialog ">
    <div class="modal-content">

  
      <div class="modal-header">
        
  
        <button type="button" class="close  my-auto mr-1" data-dismiss="modal">&times;</button>
      </div>
     

      <div class="modal-body ">
        <p class="text-center">Are you sure you want to delete?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-primary text-white" data-dismiss="modal">No</button>
      </div>

    </div>
  </div>
</div>   -->

 
 
 <!-- <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered" style="margin-left: 30%;">
    <div class="modal-content">
    
       
       <div class="modal-header " >
        <h4 class="modal-title w-100 text-center">Alert!!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> 
      
      
      <div class="modal-body text-center pt-5 pb-3 mr-1" >
       <h5 class="fw-normal fs-5">Are you sure you want to delete?</h5>
      </div>
      
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Ok</button>
       
      </div>
      
    </div>
  </div>
</div> -->

<!-- <div class="modal" id="myModal" >
  <div class="modal-dialog modal-dialog-centered" style="margin-left: 30%;">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body text-center pt-5 pb-3 mr-1 h-50">
        <h3 class="fw-normal fs-5">Are you sure you want to delete?</h3>
      </div>
      <div class="modal-footer pt-3 pb-1 pr-1">
        <button type="button" class="btn btn-light text-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-light text-white">Yes</button>
      </div>
    </div>
  </div>
</div> -->













<router-outlet></router-outlet>




