<app-header></app-header>


<div class="page-body-wrapper">
    <app-sidebar></app-sidebar>
    
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">


                    <div class="titleSec">
                        <!-- <button type="button" class="btn btn-primary">Add</button> -->
                        <h2>Add Employee</h2>
                    </div>



                    <div class="row">
                        <div class="col-sm-12">


                            <form>


                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label> <b>Employee Code</b>&nbsp;<span class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control p-2" 
                                            name="cust_code" id="itemcode" required #ecode (keypress)="preventNonNumericalInput($event)" (keyup)="prevent_null($event)" (change)="prevent_null($event)">

                                        <span class="text-danger" *ngIf="code">*Please Enter Code</span>

                                    </div>

                                    <!-- <span [hidden]="name" >*please Enter Your Name</span> -->
                                    <!-- <span class="text-danger" style="padding-left: 120px;">*please Enter Your Name</span> -->

                                </div><br>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label> <b>Name</b>&nbsp;<span class="text-danger">*</span></label>
                                    </div>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control p-2" 
                                            name="cust_name" id="itemname" required="" #ename (keyup)="prevent_null($event)" (change)="prevent_null($event)" >

                                        <span class="text-danger" *ngIf="name">*Please Enter Name</span>

                                    </div>

                                    <!-- <span [hidden]="name" >*please Enter Your Name</span> -->
                                    <!-- <span class="text-danger" style="padding-left: 120px;">*please Enter Your Name</span> -->

                                </div>

                                <br>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <label><b>Phone No.</b>&nbsp;<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control p-2"  name="phone"
                                            id="itemph" #phone (keypress)="preventNonNumericalInput($event)" (keyup)="prevent_null($event)" (change)="prevent_null($event)" >
                                        <span class="text-danger" *ngIf="ph">*Please Enter Phone No.(Only numeric values)</span>

                                    </div>
                                    <div class="col-sm-3"></div>

                                    <div class="col-sm-1">
                                        <label><b>Email</b>&nbsp;<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control p-2" (keyup)="prevent_null($event)"
                                            name="email" id="itememail" #email (change)="check_email_validity($event)">

                                        <span class="text-danger" *ngIf="notavalidemail">{{confirm_email}}</span>

                                        <span class="text-danger" *ngIf="email_null">*Please Enter Email</span>
                                    </div>


                                </div>

                                <div class="form-group row">


                                 
                                    <!-- <span [hidden]="company" 
                            >*please Enter Company type</span> -->


                                </div>
<br>
                                <div class="form-group row">

                                    <div class="col-sm-2">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control p-2" 
                                            name="designation" id="itemdesignation" #designation>

                                        <!-- <span  class="text-danger"
                                   *ngIf="upload&&!bank">*please Enter Bank name</span> -->

                                    </div>
                                    <div class="col-sm-3"></div>
                                    

                                </div>
<br>

                                <div class="form-group row">

                                    <div class="col-sm-2">
                                        <label>Remarks</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <textarea rows="5" type="text" class="form-control p-2"
                                            name="remarks" id="itemremarks" #remarks
                                            ></textarea>
                                        <!-- <span class="text-danger" *ngIf="upload&&!mobile">*please Enter Mobile -->
                                            <!-- Number</span> -->


                                    </div>

                                    <div class="col-sm-3"></div>
                                    
                                </div>



                                
                                <div class="form-group row mt-5">
                                    <div class="col-sm-12 btnSubmitSec">
                                        <input type="submit" class="btn btn-info" id="submit" name="submit" [disabled]="code||name||ph||email_null||notavalidemail"
                                            value="Submit"(click)="send_data(ecode.value,ename.value,phone.value,email.value,designation.value,remarks.value)" >



<!-- 
                                            <input type="submit" class="btn btn-info" id="submit" name="submit"
                                            value="Submit"
                                            > -->

                                        <button type="reset" class="btn btn-danger " id="Cancel" name="Cancel"
                                         (click)="clear_all()"   >Reset <i class="fa fa-refresh" [hidden]="spinshow"style="color:white;"></i><i class="fa fa-refresh fa-spin" [hidden]="!spinshow" style="color:white"></i></button>
                                         <span class="alert text-success" *ngIf="done">{{msg}}</span> 

                                         <div id="snackbar"><i class="fa fa-times-circle" style="color:red"></i>&nbsp; Insertion failed.Please try again after some time</div>
                                    </div>
                                </div>



                            </form>








                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>