<!-- <nav class="navBar fixed-top"> -->
	<!-- <div class="float-left logo"><img src="images/logo.png" alt=""/></div> -->
	<!-- <div class="float-left navRightSec"> -->
<!--
	<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fa fa-bars"></span>



      </button>
-->

<!--
	<ul class="navbar-nav navbar-nav-right">
        <li class="nav-item msgNav">
          <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>

        </li>
        <li class="nav-item notifiNav">
          <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </a>

        </li>
        <li class="nav-item nav-profile dropdown mr-0 mr-sm-2">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown" aria-expanded="false">
            <img src="images/40x40.png" alt="profile">
            <span class="nav-profile-name">Don Richards</span>
          </a>


        </li>
      </ul>
-->

	<!-- </div> -->
<!-- </nav> -->


<!-- <div class="page-body-wrapper"> -->
	<!-- <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span class="menu-title">Dashboard</span>
				<i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>

            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="publisher_management.html">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <span class="menu-title">Publisher Management</span>
				<i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
            </a>
          </li>
			<li class="nav-item">
            <a class="nav-link" href="user_management.html">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <span class="menu-title">User Management</span>
				<i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="category.html">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <span class="menu-title">Category</span>
              <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sub_category.html">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <span class="menu-title">Sub-Category</span>
              <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="all_books.html">
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <span class="menu-title">All Books</span>
              <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
            </a>
			</li>
			<li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span class="menu-title">Log out</span>
              <i class="fa fa-chevron-right arowRight" aria-hidden="true"></i>
            </a>
			</li>
        </ul>
      </nav> -->

	<!-- <div class="main-panel"> -->
		<div class="content-wrapper">
			<div class="pageError">
			<div class="pageErrorContent">

			<div id="mydiv" [hidden]="divwelcome">

                <span class="welcome-text">Welcome!!</span><br>
                <img src="/assets/handshake_transparent.png" class="handimg">
				<p style="color: white;">We're excited to have you at <i><strong>Synergic Support</strong></i>. But first, you need to confirm your account. Just press the button below.</p>
				<button mat-raised-button color="#282a3c;" class="confirmbutton" (click)="confirm()">Confirm</button>

                </div>
                <div id="anim-div" [hidden]="!divwelcome">
                  <!-- <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div> -->

                    <div class="icon icon--order-success svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                          <g fill="none" stroke="#8EC343" stroke-width="2">
                            <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                          </g>


                        </svg><br><br>





                        <p [hidden]="message" class="fade-in-text" style="font-size: 25px; color:white;">Account Confirmed!!</p><br>
                        <button [hidden]="loginbtn" mat-raised-button color="#282a3c;" class="confirmbutton" (click)="go()">Sign In&nbsp;&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></button>
                      </div>
                    </div>
            </div>

            <div id="snackbar"><i class="fa fa-exclamation-triangle" style="color:red"></i>
              &nbsp; Confirmation failed.Please try again after some time</div>

		</div>
	<!-- </div> -->
<!-- </div> -->

