div#mydiv {
    background-color:#282a3c;;
    width:450px;
    height:450px;
    border-radius: 10px;
/* <<<<<<< HEAD
    box-shadow:20px 20px 10px grey;  
======= */
    box-shadow:20px 20px 10px grey;

    padding-top: 5%;
    padding:3%;
  }
#anim-div{
    background-color:#282a3c;
    width:450px;
    height:450px;
    border-radius: 10px;

    box-shadow:20px 20px 10px grey;

    padding-top: 5%;
    padding:30%;
}
.welcome-text{
    font-size: 50px; color:white;
  }
.handimg{
    height:50%;width:60%;
  }
.message{
     font-style: oblique;
    color: white;
  }
  .signinbutton{
    border-radius: 18px;
  }
.confirmbutton{
    border-radius: 18px;width:60%;
}
/* <<<<<<< HEAD
.confirmmessage{
    
} */
/* .confirmmessage{

} */

@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
  }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

/* other styles */
/* .svg svg {
    display: none
}
 */
.inlinesvg .svg svg {
    display: inline
}

/* .svg img {
    display: none
} */

.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards;
      -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
      -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.5s;
}


.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }


  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


