<app-header></app-header>
<div class="page-body-wrapper">
    <app-sidebar></app-sidebar>


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-body">


                    <div class="titleSec">
                      <h2>Raise Ticket</h2>
                    </div>

                  <div class="row">
                    <div class="col-sm-12">

                       <form>


                        <div class="form-group row">

                          <div class="col-sm-2">
                              <label><b>Date</b></label>
                          </div>
                          <div class="col-sm-10">
                              <input type="text" class="form-control p-2" placeholder=""
                                  name="date" id="itemdate" #date readonly value="{{this.now | date:'dd-MM-YYYY h:mm:ss a'}}"
                                >


                          </div>

                          <div class="col-sm-3"></div>

                      </div><br>

                      <div class="form-group row">
                        <div class="col-sm-2">
                            <label><b>Client</b>&nbsp;<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" readonly
                        value="{{this.client_name}}" #Client>

                        </div>

                      </div><br>

                    <div class="form-group row">

                        <div class="col-sm-2">
                            <label><b>District</b></label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control p-2" placeholder=""
                                name="district" id="itemdistrict" #district readonly
                                value="{{this.district_name}}">
                            <!-- <span  class="text-danger"
                            *ngIf="upload&&!mobile">*please Enter Mobile Number</span>  -->

                        </div>

                        <div class="col-sm-3"></div>
                        <div class="col-sm-1">
                            <label><b>Client Type</b></label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control p-2" placeholder="" name="clienttype"
                                id="itemclienttype" #clienttype readonly
                                value="{{this.client_type}}">
                            <!-- <span  class="text-danger ml-3"
                            *ngIf="upload&&!email">*please Enter Email</span> -->

                        </div>
                    </div>
                    <br>    

                <ng-template>

                <div class="form-group row">

                      <div class="col-sm-2">
                          <label><b>Operational Mode</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder=""
                              name="text" id="itemoperationalmode" #operationalmode readonly
                             value="{{this.oprn_mode_id}}">
                          <!-- <span  class="text-danger"
                          *ngIf="upload&&!mobile">*please Enter Mobile Number</span>  -->

                      </div>

                      <div class="col-sm-3"></div>
                      <div class="col-sm-1">
                          <label><b>Working Hours</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder="" name="workinghours"
                              id="itemworkinghours" #workinghours readonly
                              value="{{this.working_hrs}}">
                          <!-- <span  class="text-danger ml-3"
                          *ngIf="upload&&!email">*please Enter Email</span> -->



                      </div>
                  </div>
                  <br>
                  <div class="form-group row">

                    <div class="col-sm-2">
                        <label><b>AMC Upto</b></label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control p-2" placeholder=""
                            name="amcupto" id="itemamcupto" #amcupto readonly
                           value="{{this.amc_upto}}">
                   

                    </div>

                    <div class="col-sm-3"></div>
                    <div class="col-sm-1">
                        <label><b>Rental Upto</b></label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control p-2" placeholder="" name=""
                            id="itemrentalupto" #rentalupto readonly
                            value="{{this.rental_upto}}" >
                    </div>
                </div>                      
            </ng-template>

                <br>

                <div class="form-group row">

                  <div class="col-sm-2">
                      <label><b>Phone No.</b>&nbsp;<span class="text-danger">*</span></label>
                  </div>
                  <div class="col-sm-3">
                      <input type="text" class="form-control p-2" placeholder=""

                          name="phone" id="itemphone" #phone (keypress)="preventNonNumericalInput($event)" (keyup)="prevent_null($event)"

                        maxlength="10"
                        minlength="10"

                        value="{{this.phone_no}}">
                        <span  class="text-danger"
                        *ngIf="phone_val&&prevent_init_phone">*Please enter a phone number</span>

                  </div>

                  <div class="col-sm-3"></div>
                  <div class="col-1">
                   <label><b>Email</b>&nbsp;<span class="text-danger">*</span></label> 
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control p-2" placeholder=""
                    name="eail" id="itememail" #email 
                    >
                  </div>

                  <input type="text" value="3" [hidden]="true" class="form-control" #priority>

              </div>
              <br>

              <div class="form-group row">

                <div class="col-sm-2">
                    <label><b>Module</b>&nbsp;<span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-3">

                  <select class="form-control select2" name="module" #module (click)="select_mm(module.value)">

                    <option value="">Select</option>
                    <option *ngFor="let m of moddata" value="{{m.module_id}}">{{m.module_type}}</option>


                </select>
                <span  class="text-danger"
            *ngIf="mm_val&&prevent_init_module">*Please select module</span>

                



                </div>
                <div class="col-3"></div>
                <div class="col-1"><label><b>Name :</b>&nbsp;<span class="text-danger">*</span></label></div>
                <div class="col-3">
                  <input type="text" class="form-control p-2" #name >

                </div>

              </div>
              <br>

              <div class="form-group row">

                <div class="col-sm-2">
                    <label><b>Issue</b>&nbsp;<span class="text-danger">*</span></label>
                </div>
                <div class="col-sm-10">
                    <textarea rows="5" type="text" class="form-control p-2" placeholder=" "

                        name="issue" id="itemissue" #issue (keyup)="prevent_null($event)"


                    ></textarea>
                     <span  class="text-danger"
*ngIf="issue_val&&prevent_init_issue">*Please provide the issue</span>

                </div>
            </div>
            <br>
            <ng-template>
                <div class="form-group row">

                    <div class="col-sm-2">
                        <label><b>Remarks</b></label>
                    </div>
                    <div class="col-sm-10">
                        <textarea rows="5" type="text" class="form-control p-2" placeholder=" "
                          #remarks  name="remarks" id="itemremarks"
                          (keyup)="prevent_null($event)"></textarea>
                          <span  class="text-danger"
                          *ngIf="remarks_val&&prevent_init_remarks">*Please provide the remarks</span>
                    </div>
                    <div class="col-sm-3"></div>
      
      
      
                </div>

            </ng-template>

            <div class="form-group row">
                <div class="col-2"><label><b>Upload File: </b></label></div>
                <div class="col-sm-3">

                   <input accept="image/x-png,image/gif,image/jpeg,application/pdf" type="file" class="form-control p-2" (change)="selectFile($event)"/>
                   <strong *ngIf="_file_msg!=''">*{{_file_msg}}</strong>

                </div>
                <div class="col-6 text-danger my-auto fs-5 text-center">
                   <strong class="text-danger">Note: Allowed file format : .png, .jpeg, .jpg, .pdf (Max Size :8MB)</strong>

                </div>
           </div>
           <br>

          <div class="form-group row mt-5">
            <div class="col-sm-12 btnSubmitSec">
                <!-- <input type="submit" class="btn btn-info" id="submit" name="submit"
                    value="Submit"

                    [disabled]="mm_val||phone_val||issue_val||remarks_val"
                    (click)="submit(date.value,Client.value,district.value,clienttype.value,
                    operationalmode.value,
                    workinghours.value,
                    amcupto.value,
                    rentalupto.value,
                    phone.value,
                    priority.value,module.value,issue.value,remarks.value)"> -->


                    <input type="submit" #files class="btn btn-info" id="submit" name="submit"
                    value="Submit"

                   [disabled]="name.value == '' || email.value == '' || module.value =='' || issue.value == '' || phone.value == '' || phone.value.length != 10 "
                    (click)="submit(date.value,
                    Client.value,
                    district.value,
                    clienttype.value,
                    phone.value,
                    priority.value,
                    module.value,
                    issue.value,
                    email.value,name.value)">


                <div id="snackbar"><i class="fa fa-exclamation-triangle" style="color:red"></i>
                    &nbsp; Insertion failed.Please try again after some time</div>
            </div>

        </div>







                       </form>










                    </div>


                  </div>







</div>
</div>
</div>
</div>
</div>
