<app-header></app-header>



<div class="page-body-wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
      <div class="content-wrapper">


        <div class="card">

          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">



                  <form>


                      <div class="form-group row">

                          <div class="col-sm-2">
                              <label><b>Date</b></label>
                          </div>
                          <div class="col-sm-10">
                              <input type="text" class="form-control p-2" placeholder=""
                                  name="date" id="itemdate" #date readonly value="{{this.log | date:'medium'}}"
                                  >
                              <!-- <span  class="text-danger"
                              *ngIf="upload&&!mobile">*please Enter Mobile Number</span>  -->

                          </div>

                          <div class="col-sm-3"></div>

                      </div>
                      <br>

                      <div class="form-group row">
                          <div class="col-sm-2">
                              <label><b>Client</b></label>
                          </div>
                          <div class="col-sm-10">
                              <!-- <select class="form-control" name="client" #client value="{{this.client_name}}" readonly>

                                  <option value="">Select</option>
                                  <option *ngFor="let c of ctmdata" value="{{c.id}}">{{c.client_name}}</option>

                              </select> -->
                              <input type="text" class="form-control p-2" placeholder=""
                              name="client" id="itemclient" required="" #client readonly value="{{this.client_name}}">

                              <!-- <span  class="text-danger"
                          *ngIf="cl_val&&prevent_init_client">*Please select a client</span>  -->


                          </div>

                      </div>
                      <br>
                      <!-- <div class="form-group row">
                      <div class="col-sm-1" >
                          <label><b> Address1</b></label>
                      </div>

                      <div class="col-sm-10" >
                          <input type="text" class="form-control" placeholder="Enter Address1 " name="cust_name"
                              id="itemname" required=""   #addddd1>

                              <span  class="text-danger"
                              *ngIf="upload&&!address1">*please Enter Address</span>

                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-1" >
                          <label><b> Address2</b></label>
                      </div>

                      <div class="col-sm-10" >
                          <input type="text" class="form-control" placeholder="Enter Address2 " name="cust_name"
                              id="itemname" required=""   #addddd2>

                      </div>


                  </div> -->

                      <!-- <div class="form-group row">
                      <div class="col-sm-1" >
                          <label ><b>Pin</b></label>
                      </div>

                      <div class="col-sm-3" >
                          <input type="text" class="form-control" placeholder="Enter Pin" name="pin" id="pin"
                              required="" #pini (keypress)="preventNonNumericalInput($event)">
                      </div>

                      <span  class="text-danger"
                      *ngIf="upload&&!pin">*please Enter Pin</span>
                  </div>
                    -->
                    <div class="form-group row">

                      <div class="col-sm-2">
                          <label><b>District</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder=""
                              name="district" id="itemdistrict" #district readonly value="{{this.district_name}}"
                              >
                          <!-- <span  class="text-danger"
                          *ngIf="upload&&!mobile">*please Enter Mobile Number</span>  -->

                      </div>

                      <div class="col-sm-3"></div>
                      <div class="col-sm-1">
                          <label><b>Client Type</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder="" name="clienttype"
                              id="itemclienttype" #clienttype readonly value="{{this.client_type}}">
                          <!-- <span  class="text-danger ml-3"
                          *ngIf="upload&&!email">*please Enter Email</span> -->



                      </div>
                  </div>
                  <!-- <br> -->
                  <ng-template>
                  <div class="form-group row">

                      <div class="col-sm-2">
                          <label><b>Operational Mode</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder=""
                              name="text" id="itemoperationalmode" #operationalmode readonly
                              value="{{this.oprn_mode_id}}">
                          <!-- <span  class="text-danger"
                          *ngIf="upload&&!mobile">*please Enter Mobile Number</span>  -->

                      </div>

                      <div class="col-sm-3"></div>
                      <div class="col-sm-1">
                          <label><b>Working Hours</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder="" name="workinghours"
                              id="itemworkinghours" #workinghours readonly value="{{this.working_hrs}}">
                          <!-- <span  class="text-danger ml-3"
                          *ngIf="upload&&!email">*please Enter Email</span> -->



                      </div>
                  </div>
                  <br>
                  <div class="form-group row">

                      <div class="col-sm-2">
                          <label><b>AMC Upto</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder=""
                              name="amcupto" id="itemamcupto" #amcupto readonly
                              value="{{this.amc_upto}}">
                          <!-- <span  class="text-danger"
                          *ngIf="upload&&!mobile">*please Enter Mobile Number</span>  -->

                      </div>

                      <div class="col-sm-3"></div>
                      <div class="col-sm-1">
                          <label><b>Rental Upto</b></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder="" name=""
                              id="itemrentalupto" #rentalupto readonly value="{{this.rental_upto}}">
                          <!-- <span  class="text-danger ml-3"
                          *ngIf="upload&&!email">*please Enter Email</span> -->



                      </div>
                  </div>
                </ng-template>
                  <br>
                  <div class="form-group row">

                      <div class="col-sm-2">
                          <label><b>Phone No.</b>&nbsp;<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-sm-3">
                          <input type="text" class="form-control p-2" placeholder=""

                              name="phone" id="itemphone" #phone (keypress)="preventNonNumericalInput($event)" (keyup)="prevent_null($event)"


                            value="{{this.phone_no}}">
                          <span  class="text-danger"
                          *ngIf="phone_val&&prevent_init_phone">*Please enter a phone number</span>

                      </div>

                      <div class="col-sm-3"></div>
                      <div class="col-sm-1">
                          <label><b>Email</b>&nbsp;<span class="text-danger">*</span></label>
                      </div>
                      <div class="col-3">
                        <input type='text' class="form-control p-2" value='{{email}}' #Email>

                      </div>
                      <div class="col-sm-3"[hidden]="true">
                          <input type='text' class="form-control" value='{{this.prior}}' #priority>


                      </div>

                  </div>
                  <br>
                      <!-- <div class="form-group row">
                          <div class="col-sm-2">
                              <label><b>District</b></label>
                          </div>
                          <div class="col-sm-3">
                              <select class="form-control" name="company_type" #comp>

                                  <option value="">Select</option>
                                  <option value="P">Private Ltd</option>
                                  <option value="R">Partnership</option>
                                  <option value="I">Individual</option>
                                  <option value="L">Public Ltd</option>
                                  <option value="G">Govt.Organisation</option>
                                  <option value="O">Others</option>

                              </select>
                               <span  class="text-danger"
                          *ngIf="upload&&!company">*please Enter Company type</span>


                          </div>
                          <div class="col-sm-3"></div>

                          <div class="col-sm-1">
                              <label><b>Client Type</b></label>
                          </div>
                          <div class="col-sm-3">
                              <select class="form-control" name="company_type" #comp>

                                  <option value="">Select</option>
                                  <option value="P">Private Ltd</option>
                                  <option value="R">Partnership</option>
                                  <option value="I">Individual</option>
                                  <option value="L">Public Ltd</option>
                                  <option value="G">Govt.Organisation</option>
                                  <option value="O">Others</option>

                              </select>
                               <span  class="text-danger"
                              *ngIf="upload&&!company">*please Enter Company type</span>


                          </div>


                      </div> -->
                      <br>

                      <div class="form-group row">

                          <div class="col-sm-2">
                              <label><b>Module</b>&nbsp;<span class="text-danger">*</span></label>
                          </div>
                          <div class="col-sm-3">
                              <select class="form-control select2" id="mod"  name="module" #module (click)="select_mm(module.value)"
                             >

                                  <option value="">Select</option>
                                  <option *ngFor="let m of moddata" value="{{m.module_id}}"  [selected]="tkt_module==m.module_id">{{m.module_type}}</option>


                              </select>
                              <span  class="text-danger"
                          *ngIf="mm_val&&prevent_init_module">*Please select module</span>


                          </div>
                          <div class="col-3"></div>
                          <div class="col-1">
                          <label><b>Name</b>&nbsp;<span class="text-danger">*</span></label>

                          </div>
                          <div class="col-3">
                        <input type='text' class="form-control p-2" value='{{this.Name}}' #name>

                          </div>
                      </div><br>
                      <div class="form-group row">

                          <div class="col-sm-2">
                              <label><b>Issue</b>&nbsp;<span class="text-danger">*</span></label>
                          </div>
                          <div class="col-sm-10">
                              <textarea rows="5" type="text" class="form-control p-2" placeholder=" "

                                  name="issue" id="itemissue" #issue (keyup)="prevent_null($event)"


                              value="{{this.prob_reported}}"></textarea>
                               <span  class="text-danger"
  *ngIf="issue_val&&prevent_init_issue">*Please provide the issue</span>

                          </div>
                      </div>
                      <br>
                      <ng-template>
                      <div class="form-group row">

                          <div class="col-sm-2">
                              <label><b>Remarks</b></label>
                          </div>
                          <div class="col-sm-10">
                              <textarea rows="5" type="text" class="form-control p-2" placeholder=" "
                                #remarks  name="remarks" id="itemremarks"
                                value="{{this.Remarks}}"
                                (keyup)="prevent_null($event)"></textarea>
                                <span  class="text-danger"
                    *ngIf="remarks_val&&prevent_init_remarks">*Please provide the remarks</span>
                          </div>
                          <div class="col-sm-3"></div>


                          <!-- <div class="col-sm-2" >
                          <label><b>Technical Contact</b></label>
                      </div>
                      <div class="col-sm-3" >
                          <input type="text" class="form-control" placeholder="Enter contact" name="tan" id="itemname"   #tana>



                          <span  class="text-danger ml-3"
                          *ngIf="upload&&!tan">*please Enter TAN</span>

                      </div>

                  </div>

                  <div class="form-group row" >

                      <div class="col-sm-1">
                          <label><b>Bank name</b></label>
                      </div>
                      <div class="col-sm-3" >
                          <input type="text" class="form-control" placeholder="Enter Bank Name" name="bank_name"
                              id="itemname"   #banknn>

                               <span  class="text-danger"
                              *ngIf="upload&&!bank">*please Enter Bank name</span>
                      </div>

                      <div class="col-sm-3" ></div>
                      <div class="col-sm-1" >
                          <label><b>Branch name</b></label>
                      </div>
                      <div class="col-sm-3" >
                          <input type="text" class="form-control" placeholder="Enter Branch Name" name="branch_name"
                              id="itemname" #bran>

                              <span  class="text-danger ml-3"
                              *ngIf="upload&&!branch">*please Enter Branch name</span> -->
                          <!-- </div> -->

                      </div>
                      </ng-template>
                      <div class="form-group row mt-5" *ngIf="_uploaded_type != 0">
                        <div class="col-2"><label><b>Uploaded File: </b></label></div>
                        <div class="col-3">
                           <a *ngIf="this._uploaded_type == 2" href="{{_uploaded_img}}" target="_blank"><img src="{{_uploaded_img}}" height="150" width="150" *ngIf="this._uploaded_type == 2"/></a> 
                            <a href="{{_uploaded_img}}" target="_blank"><img src="../../../../assets/images/pdf.svg" height="80" width="80" *ngIf="this._uploaded_type == 1" /></a>


                        </div>

                      </div>
                  








                      <div class="form-group row mt-5">
                          <div class="col-sm-12 btnSubmitSec">
                              <!-- <input type="submit" class="btn btn-info" id="submit" name="submit" [disabled]="mm_val||prior_val||phone_val||issue_val"
                                  value="Submit" (click)="go_to_dashboard(date.value,client.value,district.value,clienttype.value,operationalmode.value,workinghours.value,amcupto.value,rentalupto.value,phone.value,priority.value,module.value,issue.value,remarks.value)"> -->



                                  <!-- <input type="submit" class="btn btn-info" id="submit" name="submit"  [disabled]="mm_val||phone_val||issue_val||remarks_val || this.ASSIGN_ENG>0"
                                  value="Update" (click)="go_to_dashboard(date.value,client.value,district.value,clienttype.value,operationalmode.value,workinghours.value,amcupto.value,rentalupto.value,phone.value,priority.value,module.value,issue.value,remarks.value)"> -->

                                  <input type="submit" class="btn btn-info" id="submit" name="submit"  
                                  [disabled]="
                                  module.value == ''||issue.value == '' ||Email.value == '' || name.value == '' || phone.value == ''   || this.ASSIGN_ENG>0
                                  
                                  "
                                  value="Update" (click)="go_to_dashboard(
                                    date.value,
                                  client.value,
                                  district.value,
                                  clienttype.value,
                                  phone.value,
                                  priority.value,
                                  module.value,
                                  issue.value,
                                  Email.value,
                                  name.value)">



                                  <div id="snackbar"><i class="fa fa-exclamation-triangle" style="color:red"></i>
                                      &nbsp; Updation failed.Please try again after some time</div>
                                  <!-- <button type="reset" class="btn btn-danger" id="cancel" name="cancel" (click)="clearfield()">Reset <i class="fa fa-refresh" [hidden]="spinshow"style="color:white;"></i><i class="fa fa-refresh fa-spin" [hidden]="!spinshow" style="color:white"></i></button> -->
                              <!-- <input type="reset" class="btn btn-info " id="Cancel" name="Cancel" value="Reset"> -->
                          </div>

                      </div>



                  </form>

              </div>
          </div>










          </div>
        </div>
      </div>
    </div>
  </div>
