.thumbnail{
    border-radius: 50%;
    height:100px;
    width:100px;
}



.example-small-box, .example-large-box {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* margin: 16px; */
  /* padding: 16px; */
  border-radius: 8px;
}

.example-small-box {
  height: 100%;
  width: 100%;
}

.example-large-box {
  height: 100%;
  width: 100%;
}


.example-button-row  {
  margin: 8px 8px 8px 0;
}
