th.mat-header-cell, td.mat-cell, td.mat-footer-cell {text-align: center!important;}
.form-control{
    font-size:15px!important;
}
.cursor_pointer{padding: 7px 12px;background: #fff;font-size: 11px;font-weight: 700;cursor:pointer;border:1px solid gray;}
.modal-title{
    background: #f3f3f3;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
